* {
	padding: 0;
	margin: 0;
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.navSection {
	height: 77px;
	width: 100%;
	position: fixed;
	z-index:1;
	background-color: white;
	align-items: center;
	justify-content: space-between;
	gap: 10%;
	border-bottom: 1px solid #eaeaec;
}

.navLogo {
	margin-left: 1px;
	margin-top: 1px;
}

.navSection,
.headerRight,
.headerMid,
.cartDesc
 {
	display: flex;
}

.headerMid {
	align-items: baseline;
	line-height: 22px;
}

.navLogo {
	margin-top: 17px;
}

.headerLeft {
	margin-left: 43px;
	gap: 27px;
}

.headerRight {
	align-items: center;
	margin-right: 95px;
}

.headerRight img {
	width: 26px;
	height: 28px;
	margin-right: 4px;
}

.bag,
.address,
.payment {
	font-size: 11px;
	letter-spacing: 3px;
	font-weight: 600;
}

.bag {
	color: #20BD99;
	border-bottom: 2px solid #20BD99;
}

.address,
.payment
 {
	color: #696B79;
}

.secure {
	font-family: Assistant, Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 11px;
	color: #535766;
}
.addressDesc{
	position: relative;
    top: 120px;
}