* {
	padding: 0;
	margin: 0;
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.categoryContents {
	position: relative;
	top: 90px;
}

.categoryHint,
.titleLeft,
.categoryBody,
.sidebarTitles,
.catHeaderLeftA,
.catHeaderLeft,
.catHeader,
.watches,
.watchImgRow,
.selectColor {
	display: flex;
}

.homeText,
.toysText,
.titleLeft p {
	color: #282C3F;
	font-size: 13px;
}

.homeText {
	margin-right: 4px;
}

.toysText p {
	font-weight: 700;
}

.titleLeft p {
	font-size: 15px;
	margin-right: 2px;
}

.titleLeft span {
	color: #878B94;
	font-size: 15px;
}

.categoryTitle {
	margin-top: 12px;
}

.sidebarTitles {
	position: relative;
	left: 24px;
	display: flex;
	margin-top: 40px;
	align-items: center;
	padding-bottom: 15px;
}

.filter,
.clear {
	font-weight: 700;
}

.filter {
	color: #000000;
	font-size: 14px;
}

.clear {
	color: #FF3F63;
	font-size: 12px;
	position: relative;
	left: 111px;
}

.sidebarRowA {
	border-top: 1px solid #eaeaec;
	border-right: 1px solid #eaeaec;
	border-bottom: 1px solid #eaeaec;
	padding: 15px;
}

.specColor {
	accent-color: #FF3C67;
	margin: 0px 8px 0px;
}

.sidebarSection {
	width: 257px;
}

.sidebarRowB,
.sidebarRowC,
.sidebarRowD,
.sidebarRowE {
	border-right: 1px solid #eaeaec;
	border-bottom: 1px solid #eaeaec;
}

.sidebarRowF {
	border-right: 1px solid #eaeaec;
}

.sidebarRowE {
	border-right: 1px solid #eaeaec;
}

.menRowStyle {
	font-size: 13px;
	color: #282C3F;
	font-weight: 600;
	position: relative;
	left: 9px;
}

.commonRowStyle {
	font-size: 14px;
	color: #282C3F;
}

.Colr {
	width: 14px;
	height: 14px;
	border-radius: 20px;
}

.blackColr {
	background-color: #36454F;
}

.blueColr {
	background-color: #0074D9;
}

.pinkColr {
	background-color: #F1A9C4;
}

.whiteColr {
	background-color: #FFFFFF;
	border: 1px solid #9fa8ab5e;
}

.redColr {
	background-color: #D34B56;
}

.greenColr {
	background-color: #5EB160;
}

.greyColr {
	background-color: #9FA8AB;
}

input {
	border: none;
}

.categoryImgSection {
	margin-top: 36px;
	margin-left: 35px;
}

.catHeaderRight {
	position: relative;
	left: 423px;
}

.catHeaderRightA {
	border: 1px solid #dedee5;
	box-sizing: border-box;
	padding: 6px;
	padding-right: 127px;
}

.watchImgRow {
	gap: 65px;
	margin-bottom: 25px;
}

.prodTitle,
.prodPrice {
	color: #282C3F;
	font-weight: 700;
}

.prodTitle {
	font-size: 16px;
}

.prodDesc,
.prodPrice {
	font-size: 14px;
}

.prodDesc,
.prodPrevPrice,
.prodOff {
	font-weight: 400;
}

.prodDesc {
	color: #535766;
}

.prodPrevPrice,
.prodOff,
.prodLeft {
	font-size: 12px;
}

.prodPrevPrice {
	color: #7E818C;
	text-decoration: line-thorugh;
}

.prodOff {
	color: #FF905A;
}

.prodLeft {
	color: #FF5722;
}

.catHeaderLeftA p {
	font-size: 14px;
	color: #282c3f;
}

.catHeaderLeft {
	gap: 16px;
}

.headTextStyle {
	margin-top: 4px;
}

.downArrowIcon {
	margin-top: 3px;
	color: #d3d3d9;
	font-size: large;
}

.dwnIcon {
	margin-top: 6px;
	color: #d3d3d9;
	font-size: large;
}

.catHeaderRightA p {
	color: #282c3f;
	font-size: 14px;
}

.catHeaderRightA span {
	font-weight: 700;
	color: #282c3f;
}

.categoryHint {
	position: relative;
	left: 24px;
	top: 7px;
}

.categoryTitle {
	position: relative;
	left: 24px;
	top: 10px;
}

.radioInput {

	width: 10px;
	height: 10px;
	border: 1px solid #c3c2c9;
	border-radius: 50%;

	display: inline-block;

	padding: 2px;
	text-align: center;
}

.alignRadioBtn {
	display: flex;
	align-items: center;
}

.radioPos {
	position: relative;
	top: 10px;
}

.sidebarRowA,
.sidebarRowB,
.sidebarRowC,
.sidebarRowD,
.sidebarRowE,
.sidebarRowF {
	padding-top: 20px;
	padding-bottom: 28px;
	padding-left: 17px;
}

.checkboxInput {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border: 1px solid #c3c2c9;
	background: #fff;
	border-radius: 2px;
}

.menRowHt {
	line-height: 26px;
}

.catgryHead {
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}

.categorySrchIcon {
	border: 1px solid #f5f5f6;
	background: #f5f5f6;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	position: relative;
	left: 124px;
}

.catSrchIcon {
	font-size: large;
	color: #9494a1;
	position: relative;
	top: 6px;
	left: 5px;
}

.brandSrchIcon {
	border: 1px solid #f5f5f6;
	background: #f5f5f6;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	position: relative;
	left: 151px;
}

.colorSrchIcon {
	border: 1px solid #f5f5f6;
	background: #f5f5f6;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	position: relative;
	left: 151px;
}

.colrAlign {
	align-items: center;
}

.colrMargin {
	position: relative;
	left: 7px;
}

.categoryCount {
	color: #94969f;
	font-size: 11px;
	margin-left: 4px;
}

.watches {
	color: #3e4152;
	font-size: 12px;
	padding: 5px 26px 5px 10px;
	border-radius: 20px;
	border: 1px solid #d4d5d9;
	width: 44px;
	margin-top: 4px;
}

.topWatchIcon {
	position: relative;
	top: 1px;
	font-size: medium;
	color: #babacb;
	left: 4px;
}

.topBarStyle {
	box-shadow: 0 8px 8px -4px rgba(40, 44, 63, .04);
	padding-bottom: 21px;
}

.watchImgContent {
	position: relative;
	top: 22px;
}