* {
	padding: 0;
	margin: 0;
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.categoryContents {
	position: relative;
	top: 90px;
}

.categoryHint,
.titleLeft,
.categoryBody,
.sidebarTitles,
.catHeaderLeftA,
.catHeaderLeft,
.catHeader,
.watches,
.watchImgRow,
.selectColor {
	display: flex;
}

.homeText,
.toysText,
.titleLeft p {
	color: #282C3F;
	font-size: 13px;
}

.homeText {
	margin-right: 4px;
}

.toysText p {
	font-weight: 700;
}

.titleLeft p {
	font-size: 15px;
	margin-right: 2px;
}

.titleLeft span {
	color: #878B94;
	font-size: 15px;
}

.categoryTitle {
	margin-top: 12px;
}

.sidebarTitles {
	display: flex;
	gap: 100px;
	margin-top: 20px;
}

.filter,
.clear {
	font-weight: 700;
}

.filter {
	color: #000000;
	font-size: 16px;
}

.clear {
	color: #FF3F63;
	font-size: 13px;
}

.sidebarRowA {
	border-top: 1px solid #eaeaec;
	border-right: 1px solid #eaeaec;
	border-bottom: 1px solid #eaeaec;
	padding: 15px;
}

.specColor {
	accent-color: #FF3C67;
	margin: 0px 8px 0px;
}

.sidebarRowB,
.sidebarRowC,
.sidebarRowD,
.sidebarRowE {
	border-right: 1px solid #eaeaec;
	border-bottom: 1px solid #eaeaec;
}

.sidebarRowF {
	border-right: 1px solid #eaeaec;
}

.sidebarRowE {
	border-right: 1px solid #eaeaec;
}

.menRowStyle {
	font-size: 14px;
	color: #282C3F;
	font-weight: 700;
}

.commonRowStyle {
	font-size: 14px;
	color: #282C3F;
}

.Colr {
	width: 14px;
	height: 14px;
	border-radius: 20px;
}

.blackColr {
	background-color: #36454F;
}

.blueColr {
	background-color: #0074D9;
}

.pinkColr {
	background-color: #F1A9C4;
}

.whiteColr {
	background-color: #FFFFFF;
	border: 1px solid #9fa8ab5e;
}

.redColr {
	background-color: #D34B56;
}

.greenColr {
	background-color: #5EB160;
}

.greyColr {
	background-color: #9FA8AB;
}

input {
	border: none;
}

.categoryImgSection {
	margin-top: 17px;
	margin-left: 35px;
}

.catHeaderRight {
	position: relative;
	left: 488px;
}

.catHeaderRightA {
	border: 1px solid #dedee5;
	box-sizing: border-box;
	padding: 6px;
	padding-right: 71px;
}

.watchImgRow {
	gap: 65px;
	margin-bottom: 25px;
}

.prodTitle,
.prodPrice {
	color: #282C3F;
	font-weight: 700;
}

.prodTitle {
	font-size: 16px;
}

.prodDesc,
.prodPrice {
	font-size: 14px;
}

.prodDesc,
.prodPrevPrice,
.prodOff {
	font-weight: 400;
}

.prodDesc {
	color: #535766;
}

.prodPrevPrice,
.prodOff,
.prodLeft {
	font-size: 12px;
}

.prodPrevPrice {
	color: #7E818C;
	text-decoration: line-thorugh;
}

.prodOff {
	color: #FF905A;
}

.prodLeft {
	color: #FF5722;
}