* {
	padding: 0;
	margin: 0;
	font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.navSection {
	height: 77px;
	width: 100%;
	position: fixed;
	z-index:1;
	background-color: white;
	display: flex;
	justify-content: flex-start;
	gap: 10%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navLogo {
	margin-left: 1px;
	margin-top: 1px;
}

.headerLeft,
.linkText,
.searchBox,
.navSection,
.settings,
.headerRight,
.secondRow,
.rowSection,
.footerRow,
.listImg,
.originalRow,
.returnRow,
.categoryTitle,
.categoryFooter {
	display: flex;
}

a {
	text-decoration: none;
}

.searchBox,
.settings,
.categoryTitle {
	align-items: center;
}

.profile,
.wishList,
.bag {
	display: flex;
	flex-direction: column;
}

.navLogo {
	margin-top: 17px;
}

.headerLeft {
	margin-left: 43px;
	gap: 27px;
}

.linkText {
	gap: 9px;
}

.linkText a {
	color: #282C3F;
	font-size: 12px;
	letter-spacing: .3px;
	font-weight: 700;
	text-transform: uppercase;
}

.textStyle {
	margin-top: 25px;
}

.newText {
	color: #FF3F6C;
	font-size: 10px;
	margin-left: 4px;
}

.studio {
	margin-top: 24px;
}
.textHover{
	padding: 0px 12px 30px;
}
.MenC:hover{
	border-bottom:3px solid #ee5f73;
}
.WomenC:hover{
	border-bottom:3px solid	#fb56c1;
}
.KidsC:hover{
	border-bottom:3px solid	#f26a10;
}
.HomeC:hover{
	border-bottom:3px solid	#f2c210;
}
.BeautyC:hover{
	border-bottom:3px solid	#0db7af;
}
.StudioC:hover{
	border-bottom:3px solid	#ff3f6c;
}
.searchBox {
	background-color: #1a1c20ad;
	height: fit-content;
	border-radius: 5px;
	margin-top: 13px;
	width: 350px;
}

.searchBox input {
	width: 317px;
	border: none;
	outline: none;
}

.search-container {
	position: relative;
	display: flex;
	width: 300px;
	margin: 20px;
	top: 1px;
}

.search-input {
	width: 163%;
	padding: 9px;
	border: 1px solid #696e791f;
	outline: none;
}

.search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
}

.lens {
	margin: 7px;
	font-size: 21px;
	color: #1a1c20ad;
	width: 36px;
}

.lensStyle {
	border: 1px solid #f1f1f1;
	background-color: #f5f5f6;
	width: 36px;
}

.settings {
	gap: 25px;
	margin-left: 50px;
}
.settingsText
{
	font-size: 12px;
	color: #000000;
	font-weight:700;
}
.profile span {
	margin-left: 4px;
}

.wishList span {
	margin-left: 6px;
}

.settingsColor {
	color: #0000088a;
}
