* {
	margin: 0;
	padding: 0;
}

.productSection {
	position: relative;
	top: 100px;
}

.prodHeader,
.contentRowFirst,
.contentRowSecond,
.mainContent,
.productRating,
.ratingSection {
	display: flex;
}

.prodHeaderLeft,
.prodHeaderRight p {
	color: #282C3F;
	font-size: 14px;
}

.darkText {
	font-weight: 700;
}

.contentA {
	width: 371px;
	//border: 1px solid #000000;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.contentB {
	width: 371px;
	//border: 1px solid #000000;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.contentC {
	width: 371px;
	//border: 1px solid #000000;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.contentD {
	width: 371px;
	//border: 1px solid #000000;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.imgA,
.imgB,
.imgC,
.imgD {
	width: 100%;
	height: 100%;
	background: url("");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .4s;
}

.imgA:hover {
	transform: scale(1.03);
}

.imgB:hover {
	transform: scale(1.03);
}

.imgC:hover {
	transform: scale(1.03);
}

.imgD:hover {
	transform: scale(1.03);
}

.contentRowFirst,
.contentRowSecond img {
	width: 369.22;
}

.container {
	position: relative;
	top: 105px;
}

.productTitle,
.rateLeftRating,
.itemCurPrice,
.itemPrevPrice,
proRate {
	color: #282C3F;
}

.productTitle,
.itemCurPrice {
	font-size: 24px;
}

.productHint {
	color: #535665;
}

.productHint,
.itemPrevPrice,
.itemCurOff {
	font-size: 20px;
}

.rateLeftRating,
.rateBorder,
.rateRight,
.selectItemSize,
.proRate,
.proPrevRate,
.proCurOff,
.sellerName {
	font-size: 16px;
}

.rateBorder {
	color: #D4D5D9;
}

.rateRight {
	color: #535766;
}

.itemCurOff,
.proCurOff {
	color: #FF905A;
}

.taxDesc {
	color: #03A685;
	font-weight: 500;
}

.taxDesc,
.sizeStyle {
	font-size: 14px;
}

.selectItemSize,
.sellerName,
.wishBtnText {
	color: #000000;
}

.sizeStyle {
	color: #FF3F6C;
}

.addBtn,
.wishBtn {
	border: none;

}

.addBtn {
	background-color: #FF3E6C;
}

.wishBtn,
.addBtnText {
	background-color: #FFFFFF;
}

.proPrevRate {
	color: #94969F;
}

.productTitle,
.rateLeftRating,
.itemCurPrice,
.selectItemSizex,
.itemCurPrice,
.itemCurOff,
.proRate,
.proCurOff,
.seller {

	font-weight: 700;
}

.productMrp {
	display: flex;
	align-items: baseline;
	gap: 17px;
}

.itemPrevPrice,
.proPrevRate {
	text-decoration: line-through;
}

.sizeStyle {
	border: 1px solid #FF3F6C;
	border-radius: 50px;
	width: 85px;
	height: 45px;
	padding-left: 20px;
	padding-top: 10px;
}

.sizeStyle p {
	font-weight: 500;
}